<!-- Header-->
<header class="page-header">
    <h1>{{"My_devices" | translate}}
        <small>({{devices.length}})</small>
    </h1>
</header>

<!-- Action bar -->
<section class="well form-inline">
    <input class="span5" type="text" ng-model="search" placeholder='{{"search" | translate}}'>
    <section class="pull-right">
        <button class="btn btn-success" ng-click="tableView = !tableView"><i
                ng-class="{'glyphicon glyphicon-th-list' : tableView == false , 'glyphicon glyphicon-th' : tableView == true }"></i>
        </button>
    </section>
</section>


<!-- Devices list -->
<div ng-switch on="tableView" ng-init="tableView = true">
    <ul class="thumbnails" ng-switch-when="false">
        <li ng-repeat="device in devices | orderBy:tri:reverse | filter : search " class="span12">
            <div class="caption">
                <p><b>{{"device_type" | translate}} : </b>{{device.deviceType | translate}}</p>

                <p><b>{{"device_title" | translate}} : </b>{{device.metrics.title}}</p>
            </div>
        </li>
    </ul>
    <table class="table table-striped" ng-switch-default>
        <thead>
        <tr>
            <th>#</th>
            <th>{{"device_type" | translate}}</th>
            <th>{{"device_title" | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices | orderBy:tri:reverse | filter : search ">
            <td>{{$index + 1}}</td>
            <td>{{device.deviceType | translate}}</td>
            <td>{{device.metrics.title}}</td>
        </tr>
        </tbody>
    </table>
</div>